<br>
<br>
<br>   
<!-- <div class="card bg-dark text-white"> -->
    <!-- <div class="card-header">
        {{titulo}}
    </div>     -->
        <form #formProducto="ngForm" (ngSubmit) = "onSubmit()" class="col-lg-6" id="form-producto">
            <label>
                Nombre
                <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger">El nombre es obligatorio</span>
            </label>
            <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="producto.nombre" class="form-control" required/>
            <label>
                Descripción
                <span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger">La descripción es obligatoria</span>
            </label>
            <textarea type="text" #descripcion="ngModel" name="descripcion" [(ngModel)]="producto.descripcion" class="form-control" required></textarea>  
            <label>
                Mostrar en página
            </label>
            <input type="checkbox" #mostrarpagina="ngModel" name="mostrarpagina" [(ngModel)]="producto.mostrarpagina" class="form-control"/>            
            <label>Imagen</label>
            <div *ngIf="is_edit">
                <img src="http://localhost:8088/denuti-back-end/uploads/{{producto.imagen}}" width="200"/>
            </div>
            <input type="file"  class="form-control" (change)="elegirArchivo($event)"/>   
            <br>
            <input type="submit" value="{{titulo}}" [disabled]="!formProducto.form.valid" class="btn btn-success"/>   
            <br>
            <br>                
        </form>
<!-- </div> -->

