<br>
<br>
<br>
<div *ngIf="!producto">
    <p>Cargando producto.....</p>
</div>
<div class="container" *ngIf="producto">
    <div class="container" *ngIf="producto.imagen">        
        <img src="http://localhost:8088/denuti-back-end/uploads/{{producto.imagen}}" class="detalle-imagenProd"/>
    </div>
    <div class="container2" id="texto">
        <h1>{{producto.nombre}}</h1>
    </div>
    <div class="descripcion" id="texto">
        <p cols="100" rows="10" readonly class="lead">{{producto.descripcion}}</p>
    </div>    
</div>
<div class="container">
    <button class="col-lg-4" type="button" class="btn btn-primary" [routerLink]="['/productos']">Regresar</button>
</div>
