<br>
<br>
<br>
<h1>{{titulo}}</h1>
<div style="padding: 15px;">
		<button type="button" class="btn btn-success">Listar Productos</button>
		<button type="button" class="btn btn-success">Guardar Productos</button>
</div>
<table class="table">
		<thead class="thead-dark">
		  <tr>
			<th scope="col">Id</th>
			<th scope="col">Nombre</th>
			<th scope="col">Descripción</th>
			<th scope="col">Imagen</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let item of productos"> 
			
			<td>{{item.id}}</td>			
			<td>{{item.nombre}}</td>
			<td>{{item.descripcion}}</td>
			<td>{{item.imagen}}</td>
		  </tr>
		</tbody>
	  </table>
