<br>
<br>
<br>
<br>
<div id="titulo"><h1>{{titulo}}</h1></div>

<div class="container">				
		<img src="http://localhost:8088/denuti-back-end/uploads/DeNuti.jpeg" class="producto-imagen">
	
		<div class="container2" id="texto">
			<h4>Soñando una idea de empresa familiar y con el ánimo de apoyar la alimentación saludable hemos querido incorporar el Hummus como un alimento ligero, practico, delicioso y nutritivo.
					Nuestro Hummus busca complementar la alimentación diaria de una manera diferente mezclando nuevos sabores con un ingrediente base como protagonista. La mezcla de sabores que utilizamos hace de nuestro Hummus uno de los mejores acompañantes de nuestra cocina
			</h4>
		</div>
</div>