

.jumbotron{
    padding: 40px;
    border-radius: 5px;
    box-shadow:2px 5px 1px back;
}

.navbar-nav .active{
    border-bottom: 3px solid orange;
}

#form-producto label{
    margin-top: 10px;
}
.imagen-container{
    width: 100%;
    overflow: hidden;
}

.producto-imagen{
    height: 400px;
    /* width: 400px; */
    margin: 5% auto;
    /* margin-left: 10%; */
    display: block;
    
}

.detalle-imagen{
    height: 500px;
    width: 600px;
    margin: 5% auto;
    /* margin-left: 10%; */
    display: block;
    
}

.detalle-imagenProd{
    height: 500px;
    width: 450px;
    margin: 5% auto;
    /* margin-left: 10%; */
    display: block;
    
}

.cortar{
    width:300px;
    height:50px;
    /* padding:10px; */
    border:1px solid white;
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

.imagen-relleno{
    background: blueviolet;
    width: 100%;
    height: 200px;
}

.container2{
    /* font-family: ]-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: cursive; 
}

.descripcion{
    font-family: Comic Sans MS;
    
}

#info{
    /* background-color: aqua; */
    float: left;
    width: 30%;
    height: 40%;
    margin-top: 5%;
    margin-left: 5%;
    font-family: cursive; 
}


#campos{
    /* background-color: chartreuse; */
    float: right;
    width: 50%;
    margin-top: 5%;
    margin-right: 5%;
    font-family: cursive; 
}

#carrusel{
    margin-top: 6%;
}

#footer{
    background-color: brown;
    float: none;
    clear: both;
}

#titulo{
    text-align: center;
    font-family: cursive;
    color:#343A40;
}

#carr{
    width: 50%;
    height: 50%;
    text-align: center;
}

#texto{
    font-family: cursive;
    /* color: aliceblue; */
}

#detRecetas{
    margin-left: 1px;
    margin-right: 1px;
}