<br>
<br>
<br> 
<!-- <div class="card bg-dark text-white">
    <div class="card-header">
        {{titulo}}
    </div>    
    <div class="card-body"> -->
        <br>
        <form #formReceta="ngForm" (ngSubmit) = "onSubmit()" class="col-lg-6" id="form-receta">
            <div class="form-group row">
                    <label for="nombre" id="texto" class="col-form-label col-sm-2"><h5>Nombre</h5></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="receta.nombre" name="nombre">
                    </div>
            </div>
            <div class="form-group row">
                <label for="ingredientes" class="col-form-label col-sm-2" id="texto"><h5>Ingredientes</h5></label>
                <div class="col-sm-6">
                    <textarea class="form-control" rows="6" [(ngModel)]="receta.ingredientes" name="ingredientes"></textarea>
                </div>
            </div>            
            <div class="form-group row">
                    <label for="preparacion" class="col-form-label col-sm-2" id="texto"><h5>Preparación</h5></label>
                    <div class="col-sm-6">
                        <textarea class="form-control" rows="8" [(ngModel)]="receta.preparacion" name="preparacion"></textarea>
                    </div>
            </div>
            <div class="form-group row">
                    <label for="preparacion" class="col-form-label col-sm-2" id="texto"><h5>Imagen</h5></label>
                    <div *ngIf="is_edit">
                            <img src="http://localhost:8088/denuti-back-end/uploads/{{receta.imagen}}" width="200"/>
                        </div>
                        <input type="file"  class="form-control" (change)="elegirArchivo($event)"/>   
                        <br>
            </div>            
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-success">{{titulo}}</button>
                    <button class="btn btn-success" [routerLink]="['/recetas']">Cancelar</button>
                </div>
            </div>
        </form>
    <!-- </div>
</div> -->

