<br>
<br>
<br>
<h1>{{titulo}}</h1>
<div *ngIf="!recetas">
	Cargando Recetas....
</div>
<div *ngIf="recetas">
	<div class="row">
		<div class="col-lg-4" *ngFor="let receta of recetas">
			<div class="thumnnail">
				<div *ngIf="receta.imagen" class="imagen-container">
					<img src="http://localhost:8088/denuti-back-end/uploads/{{receta.imagen}}" class="producto-imagen">
				</div>
				<div *ngIf="!receta.imagen">
					<div class="imagen-relleno"></div>
				</div>
				<div class="container">
					<strong>{{receta.nombre}}</strong>
				</div>
				<div class="container">
					<!-- <p class="cortar">{{receta.ingredientes}}</p> -->
					<p class="cortar">{{receta.preparacion}}</p>
					<div class="botones" *ngIf="confirmado != receta.id">
						<a [routerLink] = "['/receta', receta.id]" class="btn btn-md btn-primary">Detalle</a>
						<a [routerLink] = "['/editar-receta', receta.id]" class="btn btn-md btn-warning">Editar</a>
						<a (click) = "confirmarBorrado(receta.id)" class="btn btn-md btn-danger">Borrar</a>
					</div>
					<div class="confirmar" *ngIf="confirmado==receta.id">						
						<a (click)="borrarReceta(receta.id)" class="btn btn-md btn-danger">Sí, deseo borrar la receta <strong>{{receta.nombre}}</strong> ?</a>
						<a (click)="cancelarBorrado()" class="btn btn-md btn-warning">Cancelar</a>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
	<button type="button" class="btn btn-success" [routerLink]="['/crear-receta']">Crear Receta</button>
</div>